/* Reset stuffs */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* WTFC.ME styles */

* {
  font-size: 75px;
  background: #eee;
}

html, body {
  font-family: Chewy;
  padding-top: 0;
  height: 100%;
}

.center {
  text-align: center;
}

h1 {
  font-family: Chewy;
  color: black;
}

h1.name {
  color: red;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 25px;
  font-family: Chewy;
  margin: 5px;
}

.btn {
  line-height: 30px;
  border: 2px solid #DDD;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: auto;
  background-color: #fafafa;
  box-sizing: border-box;
  cursor: pointer;
  color: #646464;
  height: 100px;
  min-height: 30px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}
#q {
  border: 2px solid #DDD;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: auto;
  background-color: #fafafa;
  box-sizing: border-box;
  color: #646464;
  height: 100px;
  min-height: 30px;
  padding: 10px;
  margin: 10px;
  width: 95%;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}
.wrap {
  min-height: 100%;
}

@media (max-width: 480px) {
  * { font-size: 50px; }
  h1 {
    font-size: 65px;
  }
  h1.header {
    margin: 15px;
  }
  #q {
    padding: 5px;
  }
}

@media (min-width: 480px) {
  h1 {
    font-size: 100px;
  }
  h1.header {
    margin: 50px;
  }
}

@media (max-height: 400px) {
  .wrap {
    margin: 0px auto 20px;
  }
}
@media (min-height: 400px) {
  .wrap {
    margin: 0px auto -200px;
  }
}
