<html>
  <head>
    <style>
* {
  font-family: Chewy;
  font-size: 75px;
}

@media only screen and (max-width: 480px) {
  * {
    font-size: 50px;
  }
}

h1 {
color: black;
}

#submit {
height: 100px;
background: #eee;
}
#submit:hover {
background: #aaa;
}

#number {
height: 100px;
        text-align: center;
margin: 10px;
width: 95%;
       border-radius: 5px;
}
    </style>
  </head>

  <body>
    {% if name %}
    <div style="text-align: center;">
      <h1 style="color: red;">{{name}}</h1>
      <h2>CALLED YOU!</h2>
    </div>
    {% else %}
    <div style="text-align: center;">
      <h1>WHO THE FUCK CALLED ME?</h1>
      <form>
        <input id="q" name="q" placeholder="1 (818) 133-7H4X"
        type="tel" />
        <br/>
        <button id="submit" type="submit">FIND OUT</button>
      </form>
    </body>

    {% endif %}


  </div>
  </body>
</html>

