<!DOCTYPE html>
<html>
  <head>
    <title>Who the fuck called me?!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Find out who the fuck called you. Give us a phone number, we'll give you a name.">
    <link href="http://fonts.googleapis.com/css?family=Chewy" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet"/>
  </head>
  <body>
    <div class="wrap center">
      <h1 class="header">who the $*#! called?!</h1>
      <form method="get">
        <div class="center">
          <input id="q" name="q" placeholder="1 (818) 456-7890" type="tel" autofocus />
        </div>
        {% if success %}
          <h1 class="name">{{ name }}</h1>
          <h2>CALLED YOU!</h2>
        {% else %}
          <h1 class="name">UNAVAILABLE :(</h1>
        {% endif %}
        <button id="submit" class="btn" type="submit">FIND OUT</button>
      </form>
    </div>
    <div class="box center">
      <h3>Powered by:</h3>
      <a href="https://www.opencnam.com/"><img src="https://www.opencnam.com/static/images/logo.png" alt="opencnam"/></a>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-36181169-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
